.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  padding: 8px 16px;
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(226, 147, 147);
  border: 1px solid black;
  border-radius: 5px;
}

.btn:hover{
  background-color: rgb(202, 169, 233);
}
